.notification {
  position: fixed;
}

.navbar.is-fixed-top {
  background-color:  #FFFFEF;
}

.navbar-end {
  display: flex;
  justify-content: space-around;
}

:link{
  color: #EC635E;
}

:visited{
  color: #EC635E;
}
