.columns.is-mobile.is-vcentered.is-centered.is-gapless {
  position: fixed;
  top: 52px;
  z-index: 1;
  height: 66px;
  left: 0;
  right: 0;
  background-color: #FFFFEF;
}

.child__picture {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.child__picture_modal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.img__resize img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  text-align: center;
}

.img__space {
  height: 120px;
}

.record__items {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 2px;
  left: 2.5px;
}

.square__item {
  background-color: #EC635E;
  color: white;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 10px;
}

.border {
  border-bottom: 1px solid #CCCCCC;
}
