.child_info {
  display: inline-block;
  vertical-align: bottom;
}

.child__items {
  display: inline-block;
  text-align: center;
}

.name_age__items {
  display: inline-block;
  padding-left: 20px;
}

.birthday__item {
  padding-left: 20px;
}
