.history__items {
  list-style: none;
	padding-left: 0;
}

.history__item {
  float: left;
  width: 60px;
	height: 40px;
	margin: 0;
  padding: 0;
  text-align: center;
}

.date {
  font-size: 10px
}
