.history__items {
  list-style: none;
  padding-left: 0;
}

.history__item {
  float: left;
  width: 60px;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 22px;
}

.date {
  font-size: 9px;
  white-space: nowrap;
}

.vaccinated_num :link{
  color: #7d7d7d;
}

.vaccinated_num :visited{
  color: #7d7d7d;
}

.non_vaccinated_num :link {
  color: #7d7d7d;
}

.non_vaccinated_num :visited{
  color: #7d7d7d;
}

.table__items {
  display: flex;
}

.regular__item {
  width: 40px;
  height: 25px;
  line-height: 25px;
  background-color: hsl(174, 100%, 40%);
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.voluntary__item {
  width: 40px;
  height: 25px;
  line-height: 25px;
  background-color: hsl(48, 100%, 67%);
  border-radius: 50%;
  color: #fff;
  text-align: center;
}
